<!DOCTYPE html>
<html ng-app="ToyShopApp">
<head>
  <title>Toy Shop</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="js/controller.js"></script>
</head>

<body ng-controller="MainController">
<header>
  <h1>🧸 Toy Shop</h1>
  <p>Model Cars & Anime Figures</p>
</header>

<div class="product" ng-repeat="p in products">
  <img ng-src="images/{{p.category}}/{{p.image}}">
  <h3>{{p.name}}</h3>
  <p>LKR {{p.price}}</p>
  <button ng-click="addToCart(p)">Add to Cart</button>
</div>

</body>
</html>
