apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: mongo
        image: {{ .Values.mongo.image }}
        ports:
        - containerPort: 27017

