apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: toyshop-psp
spec:
  privileged: false
  runAsUser:
    rule: RunAsAny
  fsGroup:
    rule: RunAsAny
  seLinux:
    rule: RunAsAny
  volumes:
    - '*'

