apiVersion: apps/v1
kind: Deployment
metadata:
  name: shipping
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shipping
  template:
    metadata:
      labels:
        app: shipping
    spec:
      containers:
      - name: shipping
        image: "{{ .Values.shipping.image }}:{{ .Values.shipping.tag }}"
        ports:
        - containerPort: 8080

