apiVersion: apps/v1
kind: Deployment
metadata:
  name: cart
spec:
  replicas: {{ .Values.cart.replicas }}
  selector:
    matchLabels:
      app: cart
  template:
    metadata:
      labels:
        app: cart
    spec:
      containers:
      - name: cart
        image: "{{ .Values.cart.image }}:{{ .Values.cart.tag }}"
        ports:
        - containerPort: 8080

