apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment
spec:
  replicas: {{ .Values.payment.replicas }}
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
      - name: payment
        image: "{{ .Values.payment.image }}:{{ .Values.payment.tag }}"
        ports:
        - containerPort: 8080
