apiVersion: apps/v1
kind: Deployment
metadata:
  name: ratings
spec:
  replicas: {{ .Values.ratings.replicas }}
  selector:
    matchLabels:
      app: ratings
  template:
    metadata:
      labels:
        app: ratings
    spec:
      containers:
      - name: ratings
        image: "{{ .Values.ratings.image }}:{{ .Values.ratings.tag }}"
        ports:
        - containerPort: 8080
