version: "3.8"

services:
  dispatch:
    build: .
    ports:
      - "8080:8080"
    environment:
      RABBITMQ_HOST: rabbitmq

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

