body {
  font-family: Arial;
  background: #f5f7fa;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

img {
  width: 150px;
  border-radius: 8px;
}

