name: Build & Push Catalogue Service

on:
  push:
    paths:
      - "catalogue/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push catalogue image
      run: |
        docker build -t naduni/toy-catalogue:latest catalogue
        docker push naduni/toy-catalogue:latest

