name: Build & Push Dispatch Service

on:
  push:
    paths:
      - "dispatch/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push dispatch image
      run: |
        docker build -t naduni/toy-dispatch:latest dispatch
        docker push naduni/toy-dispatch:latest

