name: Build & Push Payment Service

on:
  push:
    paths:
      - "payment/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push payment image
      run: |
        docker build -t naduni/toy-payment:latest payment
        docker push naduni/toy-payment:latest

