name: Build & Push Shipping Service

on:
  push:
    paths:
      - "shipping/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push shipping image
      run: |
        docker build -t naduni/toy-shipping:latest shipping
        docker push naduni/toy-shipping:latest

